body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    color: black;
    /* background: url('../images/rawbot_logo.png') no-repeat center bottom; */
    background-size: cover;
    /*font-family: 'Calibri', sans-serif;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.lower {
    margin-top: 50px;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: left !important;
}

.crypto {
    width: 100%;
    background: url('../images/crypto.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    opacity: 0.6;
}

.sports {
    width: 100%;
    background: url('../images/football.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    opacity: 0.6;
}