<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="../../site.webmanifest">
  <link rel="apple-touch-icon" href="../../icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="../../css/bootstrap.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="../../https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->


<div class="">
  <div class="row">

    <div class="col-md-12">
      <div class="rightdiv">
        <div class="logo">
          <img class="img-responsive" src="../../img/logo.png">
        </div>

        <br>
        <div class="row">
          <div class="col-md-12">
            <h1 class="orange-title">Sports Bets</h1>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
             <div class="head-style">
               <div class="left-head">
                 <p>Word Cup Championship</p>
               </div>
               <div class="right-head">
                <span>Total bets</span> <span class=""><span><img style="width: 11px;" src="../../img/menu.png"></span>17.250 </span><span class="gray-text"> Time left: Closed</span>
               </div>
             </div>
          </div>
        </div>
<br>
<br>
        <div class="container">
          <div class="row vs-bg">
            <div class="float-left">
              <img src="../../img/france.png" class="img-responsive flag-img" />
              <br>
              <span class=""><span><img style="width: 15px;" src="../../img/menu.png"></span>0.02</span>
            </div>
            <div class="float-right">
              <img src="../../img/italy.png" class="img-responsive flag-img" />
              <br>
              <span class=" float-right"><span><img style="width: 15px;" src="../../img/menu.png"></span>0.02</span>
            </div>
          </div>
          <div class="row">
            <br>
            <div style="width: 20%;border-top: 60px solid #4a4a4a;float: left" >
              <p class="percent-left">24</p>
              <p class="percent-bottom">betters</p>
            </div>
            <!--<hr style="width: 20%;border-top: 40px solid #4a4a4a;float: left" />-->
            <!--<hr style="width: 79%;border-top: 40px solid #f8a000;float: right;" />-->
            <div style="width: 79%;border-top: 60px solid #f8a000;float: right" >
              <p class="percent-right">80</p>
              <p class="percent-bottom-right">betters</p>
            </div>
          </div>

          <!--<div class="row">-->
            <!--<div class="text-center">-->
              <!--<p class="win-team">FRANCE WON!</p>-->
            <!--</div>-->
          <!--</div>-->
          <div class="row">
            <div class="float-left">
              <h1 class="orange-title"><strong>France</strong> </h1>
              <br>
              <br>
              <span class="fs-22">Estimated payout <span><img style="width: 20px;" src="../../img/menu.png"></span> 0.000</span>
              <br>
              <span class="team-rate fs-22">You have not bet</span><br/>
              <input class="left-input bet-input">
            </div>
            <div class="float-right">
              <h1 class="orange-title" style="text-align: right"><strong>Italy</strong> </h1>
              <br>
              <br>
              <span class="fs-22">Estimated payout <span><img style="width: 20px;" src="../../img/menu.png"></span> 0.000</span>
              <br>
              <span class="team-rate float-right fs-22">You have not bet</span><br/>
              <input class="right-input bet-input">
            </div>
          </div>
          <br>
          <div class="row">
          <button type="button" class="btn full-button orange-button" style="font-size: 20px;">SCORE!</button>
          </div>

          <br>
          <br>
          <div class="row">
            <span class="fs-24"><strong>Description</strong> </span>
            <br>
            <br>
            <span class="team-rate fs-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
          </div>
          <br>
          <br>
          <br>
          <div class="row">
            <span class="fs-24"><strong>Updates</strong> </span>
            <br>
            <br>
            <span class="updates-date">9:52pm 7/15</span>
            <br>
            <span class="team-rate fs-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit.orem ipsum dolor sit amet, consectetur adipisicing elit.orem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            <br>
            <br>
            <span class="updates-date">5:42pm 7/13</span>
            <br>
            <span class="team-rate fs-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
            <br>
            <br>
            <span class="updates-date">4:00am 5/15</span>
            <br>
            <span class="team-rate fs-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>

          </div>

          <br>
          <br>

          <div class="row">
            <span class="fs-24"><strong>Bets</strong> </span>
            <br>
            <br>
            <table style="width:100%">
              <tr>
                <th class="table-title left-align">Public ID</th>
                <th class="table-title center-align">France</th>
                <th class="table-title center-align">Italy</th>
              </tr>
              <tr class="body-table">
                <td>0x764897hifbby6tgvryu763hjiu</td>
                <td class="center-align">3</td>
                <td class="center-align">4</td>
              </tr>
              <tr class="body-table">
                <td>0x764897hifbby6tgvryu763hjiu</td>
                <td class="center-align">3</td>
                <td class="center-align">4</td>
              </tr>
            </table>
          </div>



        </div>
        <br>
        <br>
        <br>


        <div class="copyright">
          <p>&#9400; 2018 BetPit</p>
        </div>


      </div><!-- end right div -->

    </div>
  </div>

</div>






  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>

  <script>window.jQuery || document.write('<script src="../../js/jquery.min.js"><\/script>')</script>
  <script src="../../js/plugins.js"></script>
  <script src="../../js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
