<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->


    <div class="">
        <div class="row">

            <div class="col-md-12">
                <div class="rightdiv">
                    <div class="logo">
                        <img class="img-responsive" src="img/logo.png">
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="orange-title">MY Bets</h1>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="head-style">
                                <div class="left-head">
                                    <a class="ref" href="#">&nbsp; Order By &nbsp;<i class="fa fa-caret-down fa-fw"
                                            aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <div class="row" style="overflow-x:auto;">
                        <table style="width:100%;">
                            <tr style="background: #d8d8d8;">
                                <th class="table-title center-align">#</th>
                                <th class="table-title center-align">Bet</th>
                                <th class="table-title center-align">Type</th>
                                <th class="table-title center-align">Status</th>
                                <th class="table-title center-align">Execution date</th>
                                <th class="table-title center-align">Creation date</th>
                                <th class="table-title center-align">Contracts</th>
                                <th class="table-title center-align">Details</th>
                            </tr>
                            <tr class="body-table">
                                <td class="center-align">345</td>
                                <td class="center-align">3445</td>
                                <td class="center-align">Public</td>
                                <td class="center-align">Ongoing</td>
                                <td class="center-align">23-7-2018</td>
                                <td class="center-align">23-7-2018</td>
                                <td class="center-align"><a href="#">Contracts</a> </td>
                                <td class="center-align"><a href="#">Link</a></td>
                            </tr>
                            <tr class="body-table">
                                <td class="center-align">345</td>
                                <td class="center-align">3445</td>
                                <td class="center-align">Public</td>
                                <td class="center-align">Ongoing</td>
                                <td class="center-align">23-7-2018</td>
                                <td class="center-align">23-7-2018</td>
                                <td class="center-align"><a href="#">Contracts</a> </td>
                                <td class="center-align"><a href="#">Link</a></td>
                            </tr>
                        </table>
                    </div>



                    <br>
                    <br>
                    <br>


                    <div class="copyright">
                        <p>&#9400; 2018 BetPit</p>
                    </div>


                </div><!-- end right div -->

            </div>
        </div>

    </div>






    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>